<!DOCTYPE html>
<html>
  <head>
    <title>index></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello master</h1>
    <p>Welcome to blog3 nodemy</p>
  </body>
</html>
