<!DOCTYPE html>
<html lang="en">
<% include ./include/head %>





<body>

    <div id="colorlib-page">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        <aside id="colorlib-aside" role="complementary" class="js-fullheight">
            <!-- begin header  -->
            <% include ./include/header %>

            <!-- end header  -->
            <!-- begin footer  -->
            <% include ./include/footer %>


            <!-- end footer  -->


        </aside>
        <!-- END COLORLIB-ASIDE -->
    </div>
    <!-- END COLORLIB-PAGE -->
    <!-- begin content  -->

    <div id="colorlib-main">
        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-8 px-md-5 py-5">
                        <div class="row pt-md-4">


                            <div id="baiviet"></div>

                            <div class="tag-widget post-tag-container mb-5 mt-5">
                                <div class="tagcloud">
                                    <a href="#" class="tag-cloud-link">edit my post</a>
                                </div>
                            </div>

                            <div class="pt-5 mt-5">
                                <h3 class="mb-5 font-weight-bold" id="coutCommet">6 </h3>
                                <ul class="comment-list">
                                    <li class="comment">

                                        <div id="binhluan"></div>
                                        <div id="binhluanmoi"></div>

                                        <!-- END comment-list -->

                                        <div class="comment-form-wrap pt-5">
                                            <h3 class="mb-5">Leave a comment</h3>
                                            <form action="#" class="p-3 p-md-5 bg-light">

                                                <div class="form-group">
                                                    <label for="message">Message</label>
                                                    <textarea name="" id="message" class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <input id='postCommet' type="button" value="Post Comment"
                                                        class="btn py-3 px-4 btn-primary">
                                                </div>
                                                <!-- END COL -->

                                                
                                        </div>
                                        
                            </div>
                            
        </section>

    </div>
    
    <!-- END COLORLIB-MAIN -->
    </div>

    
    <!-- END COLORLIB-PAGE -->
    <!-- end content  -->



    <!-- loader -->

    <% include ./include/loader %>

    <% include ./include/scripts %>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script>
    $("#postCommet").click(function () {
        let comment = $('textarea#message').val();
        // var thought = jQuery("textarea#message").val();
        //   console.log(comment);
        body = {
            comment
        }
        $.ajax({
            type: "POST",
            url: `/api/comment/${window.location.href.split("/")[4]}`,
            data: body
        }).then(function (data) {

            var commet = `
                                       
                                        <div class="comment-body">
                                            <h3>${data.data.user[0].local.email}</h3>
                                            <div class="meta">October 03, 2018 at 2:21pm</div>
                                            <p>${data.data.content}</p>
                                            <p><a  onclick="myFunction()"  class="reply">Reply</a></p>
                                        </div> 
            `
            $('#binhluanmoi').append(commet)

        });
        $("textarea#message").val('');

    });


    $.ajax({
        type: "GET",
        url: `/api/comment/${window.location.href.split("/")[4]}`


    }).then(function (data) {
        data.data.forEach(element => {
            //   console.log(element);
            var commet = `
                                       
                                        <div class="comment-body">
                                            <h3>${element.user[0].local.email}</h3>
                                            <div class="meta">October 03, 2018 at 2:21pm</div>
                                            <p>${element.content}</p>
                                            <p><a  onclick="myFunction()"  class="reply">Reply</a></p>
                                        </div> 
            `
            $('#binhluan').append(commet)
        })
        $('#coutCommet').html(data.data.length + ' Comments')

    });


    $.ajax({
        url: `/api/post/${window.location.href.split("/")[4]}`,
        type: "get"
    }).then(function (data) {
        var template = `

    <div class="My-post " id="My-post">
        <div class="title container">
            <h1 class="mb-3">${data.data.title}</h1>
        </div>
    </div>
    <div class="content container">
        <p>${data.data.content[0]}</p>
    </div>

    `
        // console.log(data.data);
        $('#baiviet').append(template)
    });

    function myFunction() {
        document.getElementById("message").focus();
    }
</script>

</html>