<div class="colorlib-footer">
    <h1 id="colorlib-logo" class="mb-4"><a href="/about" style="background-image: url(/stylesheets/images/bg_1.jpg);">Project <span>K2 Nodemy</span></a></h1>
    <!-- <div class="mb-4">
        <h3>Subscribe for newsletter</h3>
        <form action="#" class="colorlib-subscribe-form">
<div class="form-group d-flex">
    <div class="icon"><span class="icon-paper-plane"></span></div>
  <input type="text" class="form-control" placeholder="Enter Email Address">
</div>
</form>
    </div> -->
    <p class="pfooter"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
</div>