<nav id="colorlib-main-menu" role="navigation">
    <ul>
        <li> <a href="/">Trang Chủ</a></li>
       
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>