<nav id="colorlib-main-menu" role="navigation">
    <ul>
        <li><a href="/">Trang Chủ</a></li>
        <!-- <li><a href="travel.html">Du lịch</a></li> -->
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li> 
        <li><a href="/login">Đăng nhập</a></li>
    </ul>
</nav>